<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp4</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="administration">
                            <span class="oi oi-plus" aria-hidden="true"></span> Personál
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="zariadenia">
                            <span class="oi oi-plus" aria-hidden="true"></span> Zariadenia
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Project">
                            <span class="oi oi-plus" aria-hidden="true"></span> Project
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="projekt">
                            <span class="oi oi-plus" aria-hidden="true"></span> Project TEST
                        </NavLink>
                    </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="zariadenia">
                <span class="oi oi-plus" aria-hidden="true"></span> Zariadenia
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string ADMINISTRATION_ROLE = "Administrators";
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
